<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="CreditosDB" connectionString="Data Source=DESKTOP-5E3EI3G\SQLEXPRESS; Initial Catalog=Creditos;Integrated Security=true; User ID=DESKTOP-5E3EI3G\Rondon; Password= ;"></add>
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EnlaceHTTP" 
                 closeTimeout="00:10:00" 
                 maxReceivedMessageSize="65536" 
                 maxBufferSize="65536" 
                 messageEncoding="Text" 
                 textEncoding="utf-8">          
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="EnlaceTCP"
                 closeTimeout="00:10:00"
                 maxReceivedMessageSize="65536"
                 maxBufferSize="65536"
                 maxConnections="10">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"></transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Pacagroup.Comercial.Creditos.Implementacion.ClienteService">
        <endpoint address="" 
                  binding="basicHttpBinding"
                  bindingConfiguration="EnlaceHTTP"
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>      
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="EnlaceTCP"
                  contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>            
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar a divulgação de informações de metadados, defina os valores abaixo para falso antes da implantação -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para receber detalhes de exceção em falhas para fins de depuração, defina o valor abaixo para verdadeiro. Defina para falto antes da implantação para evitar a divulgação de informações de exceção -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para procurar o diretório de raiz do aplicativo Web durante a depuração, defina o valor abaixo para verdadeiro.
        Defina-o para falso antes da implantação para evitar a divulgação de informações da pasta do aplicativo Web.
-->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
